<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> <!-- mybatis-3-config.dtd에 주목 -->
<configuration>
	<!-- 매핑정보 추가 -->
	<mappers>
		<package name="com.younahShop.dao"/>
<!-- 		<mapper resource="mapper/*Mapper.xml" /> -->
	</mappers>
</configuration>